/* ScrollBar.css */

.scroll-container{
  background-color: white;
  display: inline-block;
  margin: 50px;
}

.scroll-bar-container {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .scroll-content {
    display: flex;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    width: 90%; /* Ancho del contenedor con scroll */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
    gap: 10px; /* Espaciado entre los elementos */
    padding: 10px 0; /* Espaciado en la parte superior e inferior */
  }

  .scroll-container-titulo{
    padding-left: 30px;
  }
  .scroll-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
    margin: 0 10px;
  }
  
  .scroll-button:hover {
    background-color: gray;
    color: #eeeeee;
  }
  