/* ScrollBar.css */

.scroll-container{
  background-color: #eeeeee;
  display: inline-block;
  margin-top: 20px;
}

.scroll-bar-container {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .scroll-content {
    display: flex;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    width: 90%; /* Ancho del contenedor con scroll */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
    gap: 10px; /* Espaciado entre los elementos */
    padding: 10px 0; /* Espaciado en la parte superior e inferior */
  }

  
  .scroll-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
    margin: 0 10px;
  }
  
  .scroll-button:hover {
    background-color: #45a049;
  }
  